{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    
    {% include 'base/head/metadata.html.twig' %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}" />
    <link rel="canonical" href="{{ url(true) }}" />
    
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	
    {% block stylesheets %}
        {{ url('theme://css/style.css', 'css') }}
    {% endblock %}
    {#{{ assets.retCSS() }} #}
	
    {% block javascripts %}
        {{ url('jquery', 'js') }}
        {#{ url('theme://js/nav.js', 'js') }#}
    {% endblock %}
    {{ assets.js() }}
{% endblock head %}